<h1>Sign Up</h1>

<%= form_for @signup_form do |f| %>
  <% if @signup_form.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @signup_form.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.check_box :subscribed %>
    <%= f.label :subscribed, "Subscribe to our mailing list." %>
  </div>

  <h3>Profile Details</h3>

  <%= f.fields_for :profile do |profile_fields| %>
    <div class="field">
      <%= profile_fields.label :twitter_name %><br />
      <%= profile_fields.text_field :twitter_name %>
    </div>

    <div class="field">
      <%= profile_fields.label :github_name %><br />
      <%= profile_fields.text_field :github_name %>
    </div>

    <div class="field">
      <%= profile_fields.label :bio %><br />
      <%= profile_fields.text_area :bio, rows: 5, cols: 40 %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Sign Up" %>
  </div>
<% end %>